.icon_btn {
    cursor: pointer;
    padding: 5px;
}

.icon_btn .fa-pencil {
    color: rgb(0, 217, 255);
}

.icon_btn .fa-trash {
    color: red;
}

.icon_btn .fa-user-check{
    color: green;
}

.icon_btn .fa-user-xmark{
    color: black;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-add{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    background: #1abc9c;
    color: #fff;
    font-size: 0.86rem;
    box-shadow: 1px 1px 6px 2px #16a0853b;
}
.btn.btn-search {
    border-radius: 20px;
}