.icon_btn {
    cursor: pointer;
    padding: 5px;
}

.icon_btn .fa-pencil {
    color: rgb(0, 217, 255);
}

.icon_btn .fa-trash {
    color: red;
}

.icon_btn .fa-user-check{
    color: green;
}

.icon_btn .fa-user-xmark{
    color: black;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-add{
    cursor: pointer !important;
    padding: 5px 10px !important;
    background: #1abc9c !important;
    color: #fff !important;
    font-size: 0.86rem !important;
    box-shadow: 1px 1px 6px 2px #16a0853b !important;
    border-color: #1abc9c !important;
}

.btn{
    padding: 5px 10px !important;
    border-radius: 25px !important;
}
.btn.btn-search {
    border-radius: 20px;
    padding: 6px 10px;
}

.nav-link.logout {
    cursor: pointer;
}

table{
    border-collapse: separate !important;
    border-spacing:0 0.5em !important;
}

.text-alert {
    font-size: 0.7rem;
    font-style: italic;
    color: #ff0000;
    font-weight: 500;
}

.frm-product .modal-dialog{
    max-width: 100%;
}

.image-review{
    padding: 5px;
    margin: auto;
    border: 1px dashed #3fff00;
}
.image-review img{
    width: 100%;
    display: block;
    object-fit: contain;
}

.box-upload-image{
    display: flex;
    overflow: hidden;
}
.box-upload-image button{
    font-size: 0.7rem;
}

th{
    vertical-align: top;
}

.alert-btn {
    padding: 2px 10px;
    min-width: 70px;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
}
.bg-red {
    color: #fff;
    background-color: #ff0000;
}
.bg-black {
    color: #fff;
    background-color: #333333;
    box-shadow: 2px 2px 14px 1px #00000038;
}

.paginate-style {
    float: right;
}

.box-loading {
    text-align: center;
    width: 100%;
    height: 100px;
    background: #3333332e;
    position: relative;
}

.box-loading-content {
    position: absolute;
    top: 40%; 
}

.box-input input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.box-input input:focus-visible  {
    /* border: 1px solid #3333 !important; */
    outline: -webkit-focus-ring-color auto 1px;
}